//----------------//
//--Gallery Page--//
//----------------//

// colours used throughout the document
$_1color : #D7D6D6;
$_2color : #BEB2C8;
$_3color : #8D8D92;
$_3colorspecial : #8d8d9283;
$_4color : #5D5E60;
$_5color : #36413E;
$_5colorspecial : #36413e8a;

#gallery_grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 30%;
    margin-right: 5%;
    margin-bottom: 25px;
    border-radius: 15px;
}

.gallery_grid_element{
    padding: 10px;
    

    img{
        object-fit: cover;
        width: 100%;
        min-height: 230px;
        border-radius: 15px;
        border: solid 3px $_2color;
    }

    p{
        color: $_2color;
        font-size: 16px;
    }

    a{
        color: $_1color;
        font-size: 16px;
    }

    h2{
        color: $_1color;
        font-size: 25px;
    }

    h3{
        color: $_1color;
        font-size: 20px;
    }
}